@reference "@/styles/global.css";

.prose {
	--tw-prose-body: var(--foreground);
	--tw-prose-headings: var(--foreground);
	--tw-prose-lead: var(--muted-foreground);
	--tw-prose-links: var(--primary);
	--tw-prose-bold: var(--foreground);
	--tw-prose-counters: var(--muted-foreground);
	--tw-prose-bullets: var(--muted-foreground);
	--tw-prose-hr: var(--border);
	--tw-prose-quotes: var(--muted-foreground);
	--tw-prose-quote-borders: var(--border);
	--tw-prose-captions: var(--muted-foreground);
	--tw-prose-code: var(--foreground);
	--tw-prose-pre-code: var(--foreground);
	--tw-prose-pre-bg: var(--muted);
	--tw-prose-th-borders: var(--border);
	--tw-prose-td-borders: var(--border);
}

.prose {
	@apply prose-headings:font-semibold;
	@apply prose-h2:text-xl prose-h3:text-base prose-h4:text-sm prose-h5:text-xs;
	@apply prose-strong:font-normal;
}

.expressive-code, [data-callout], .replacer-container {
	@apply mb-8;
}