<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <title>z0x</title>
  <meta name="description" content="Design engineer working at Linear." />
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="z0x" />
  <meta property="og:description" content="Design engineer working at Linear." />
  <meta property="og:site_name" content="z0x" />
  <meta property="og:locale" content="en-US" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="z0x" />
  <meta name="twitter:description" content="Design engineer working at Linear." />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>