<footer class="text-sm text-muted-foreground">
  <div class="border-t border-border">
    <div class="flex flex-wrap justify-between items-center">
      <div>
        <a href="https://matrix.to/#/@z0x:z0x.ca" target="_blank" rel="nofollow noreferrer noopener" class="hover:text-foreground transition-colors">Matrix</a>
        <span class="mx-2">•</span>
        <a href="https://git.z0x.ca" target="_blank" rel="nofollow noreferrer noopener" class="hover:text-foreground transition-colors">Forgejo</a>
        <span class="mx-2">•</span>
        <a href="https://github.com/z0xca" target="_blank" rel="nofollow noreferrer noopener" class="hover:text-foreground transition-colors">GitHub</a>
      </div>
      <div>
        <a href="/rss.xml" class="hover:text-foreground transition-colors">RSS</a>
      </div>
    </div>
  </div>
</footer>