---
export interface Props {
  string: string
}

const { string } = Astro.props
---

<div class="replacer-container">
  <input 
    type="text" 
    placeholder={`Replace "${string}" with...`}
    class="replacer-input"
    data-replace-string={string}
  />
  <div class="replacer-content" data-original-content="">
    <slot />
  </div>
</div>

<script>
  import { initReplacer } from '@/lib/replacer.ts';
  initReplacer();
</script>