---
export interface Props {
  title: string;
  description: string;
  slug: string;
}

const { title, description, slug } = Astro.props;
---

<a 
  class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:bg-secondary sm:py-3" 
  href={`/writing/${slug}`}
>
  <span class="font-medium">{title}</span>
  <span class="text-muted-foreground">{description}</span>
</a>