---
import "@/styles/global.css"
import "@/styles/callout.css"
import "@/styles/typography.css"
import "@fontsource-variable/geist"
import "@fontsource-variable/geist-mono"
import Head from "@/components/Head.astro"
import Header from "@/components/Header.astro"

interface Props {
	title?: string
	description?: string
}

const { title, description } = Astro.props
import { fade } from "astro:transitions";
---

<!doctype html>
<!-- ✨ Built with Astro • https://astro.build/  -->
<html lang="en" transition:animate={fade({ duration: "0.1s" })}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Header transition:persist />
    <main>
      <slot />
    </main>
  </body>
</html>
